.fa-location-dot, .fa-bed, .fa-child-reaching, .fa-utensils, .fa-circle-check, .fa-arrow-right, .fa-users, .fa-square, .fa-person-swimming, .fa-ring{
    color: #FDC80F;
}
*{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
    line-height: 70px;
    display: inline-block ;
}
li, a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.logo{
    cursor: pointer;
    width: 12em;
}
.lLinks{
    order: 1;
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
}
.rLinks{
    order: 2;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content:flex-end ;
    margin-top: auto;
    margin-bottom: auto;
}
.lLinks ul{
    display: inline-block;
}
.rLinks ul{
    display: inline-block;
}
.flex-item{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
a:hover{
    color: #FDC80F;
}
/* Information Part */
.information{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-text{
    display: inline-block;
    margin: 0;
}
.info-p{
    text-align: justify;
    display: inline;
}
/* Images Part */
.img1{
    width:150% ;
    height: 100%;
}
.genelBilgi p{
    text-align: left;
}
.miniBox{
    padding: 10px 0px;
    background-color: #fdc90f41;
    width:95% ;
    border-radius: 8px;
    margin: auto;
}
.selectRoom{
    border-radius: 8px;
    border: 2px solid #FDC80F ;
    font-size: small;
    padding: 5px 40px;
    margin-top: 7px;
}
.selectRoom:hover{
background-color: #FDC80F;
}
.secondCard{
    padding: 3rem 1rem;
    margin: 1rem 0.5rem;
    border-radius: 10px;
}
.firstcard{
    border-radius: 10px;
}
.options{
    border: 1px solid #FDC80F ;
    border-radius: 20px;
    background-color:#fdc90f41 ;
    padding: 5px;
    width: 250px;
}
.kara{
    margin: 15px;
    padding: auto;
}
.detail{
    color: rgb(134, 134, 134);
    font-size: small;
}
.cardDetail{
    padding: 1em;
    border-radius: 10px;
    height: 85px;
    overflow: hidden;
}
.cardDetail.active{
    height: auto;
}

.cardDetail i {
    padding-bottom: 1em;
    display: inline;
}
.toggle{
    display: inline;
    position: relative;
    float: right;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.521);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  .caption-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 2px 16px;
    color: white;
  }
  .demo {
    opacity: 0.6;
  }
  .active,
  .demo:hover {
    opacity: 1;
  }
  img.hover-shadow {
    transition: 0.3s;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .centered {
    position: absolute;
    top: 62%;
    left: 76%;
    transform: translate(-50%, -50%);
  }
  .Foto{
    background-color: white;
  }
  .Foto:hover{
    background-color: #FDC80F;
  }
  .button{
    background-color: #FDC80F;
    padding: 1em 3em;
    border-radius: 8px;
    margin: 0.5em 3em;
  }
  .button:hover{
    background-color: white;
    border-color: #FDC80F;
    border-width: 2px;
  }
  .divCenter{
    text-align: center;
  }
  .moon{
    background-color: #fdc90f46;
    border-radius: 8px;
    padding-top: 0.5em;
  }
  .flag{
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    padding-bottom: 0.2em;
  }
  .menu-toggle-btn{
    float: right;
    height: 80px;
    width: 80px;
    line-height: 80px !important;
    color: black;
    font-size: 26px;
    display: none !important;
  }
  @media screen and (max-width:992px) {
    .menu-toggle-btn{
        display: block !important;
    }
    header{
        flex-direction: column;
    }
    .lLinks{
        display: flex;
        flex-direction: column;
        display: none;
    }
    .lLinks ul{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .lLinks.active{
        display: block;
    }
    .rLinks{
        flex-direction: column;
        display: none;
    }
    .rLinks ul{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .rLinks.active{
        display: block;
    }
  }